.Table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: auto;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid $color-primary-button;
  }

  th {
    padding: 0.7rem;
  }
}
