body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: $color-text;
  background-color: $color-background;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    width: min(100% - 1rem, 1024px);
    margin: 0 auto;
    overflow-x: auto;

    flex: 1 1 auto;
    border: 1px solid red;
  }
}
