$color-text: hsl(180, 40%, 98%);
$color-background: hsl(180, 43%, 7%);
$color-primary-button: hsl(357, 42%, 32%);
$color-secondary-button: hsl(180, 47%, 3%);
$color-disabled-button: hsl(168, 2%, 45%);
$color-accent: hsl(357, 42%, 32%);
$color-error: hsl(355, 85%, 50%);
$color-loader: hsl(0, 26%, 44%);
